./backend/vendor
backend/nginx-auth-ips
vendor
/.idea/
/.vagrant/
./mysql
docker-compose.vagrant.yml
var
node_modules
.output
.phpunit.result.cache
.env
dist
.nuxt
.env.development
.env.production
mysql/
/Vagrantfile
*.log
.idea/
volumes
.env.test
.php-cs-fixer.cache
./backend/log
nginx/cable.conf
nginx/lk.cable.conf
nginx/pma.cable.conf
nginx/admin.cable.conf
.DS_Store
/england/.vite
/frontend/.storybook
/frontend/stories
/frontend/storybook-static
/database/config-file.loc.cnf
.eslintcache
